.navigation {
  background-color: #f7fbfc;
  padding: 15px 0px 15px 0px;
  border-top: 1px solid rgb(118, 77, 138);
  border-bottom: 1px solid rgb(118, 77, 138);
}
.navLink {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 0px 15px 0px 15px;
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.navLink:hover {
  color: #3b89b1;
}
