.footer {
  position: fixed;
  bottom: 0;
  background-color: #f7fbfc;
  width: 100vw;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px rgb(118, 77, 138) solid;
  color: #3b89b1;
  a {
    text-decoration: none;
    color: #3b89b1;
  }
}
